<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigDragon.com.bigDragon.demo.dao.TestDao" >


  <insert id="saveUser" parameterType="com.bigDragon.demo.entity.User" >
    INSERT INTO 
    user
    (name,age,people_des,sex_id)
    VALUES(
     #{user.name},
     #{user.age},
     #{user.peopleDes},
     #{user.sexId}
    )
  </insert>
  
  <select id="getUser" resultType="java.util.LinkedHashMap">
  	select 
  	IFNULL(user_id,'') userId,IFNULL(name,'') name,IFNULL(age,'') age,IFNULL(people_des,'') peopleDes
	from 
	user
  </select>
  
  <select id="getUserMsg" resultType="com.bigDragon.demo.entity.User">
  	select 
  	*
	from 
	user
  </select>
  
</mapper>